CONFIG_IDF_TARGET="esp32p4"
CONFIG_IDF_TARGET_ESP32P4=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_BSP_JC4880P443C_LCD_H_RES=480
CONFIG_BSP_JC4880P443C_LCD_V_RES=800
CONFIG_BSP_JC4880P443C_DSI_LANE_BITRATE=500
CONFIG_BSP_JC4880P443C_DPI_CLOCK_MHZ=34
CONFIG_BSP_JC4880P443C_NUM_FB=2
CONFIG_BSP_JC4880P443C_LCD_BL_GPIO=23
CONFIG_BSP_JC4880P443C_LCD_RST_GPIO=5
CONFIG_BSP_JC4880P443C_I2C_SCL_GPIO=8
CONFIG_BSP_JC4880P443C_I2C_SDA_GPIO=7
CONFIG_BSP_JC4880P443C_LVGL_BUFFER_SIZE=76800
CONFIG_LV_DRAW_SW_SUPPORT_RGB565A8=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_BSP_JC4880P443C_LVGL_DOUBLE_BUFFER=y
